* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /*list-style: none;  On peut la mettre dans le "*" directement*/
}

@font-face {
    font-family:"Montserrat";
    src: url(./assets/font/Montserrat-Thin.ttf);
}

body {
    font-family: "Montserrat", sans-serif;
    margin: 0 auto;
    text-align: center;
    /**Ci-dessus ces 2 lignes pr que tous soit centré**/
}

/*-------------NAV--------------*/
a {
    text-decoration: none; /*masque la barre qui souligne les liens clickables*/
}
nav {
    max-width: 1100px; /*Nav délimité pour ne pas qu'elle s'aggrandisse trop sur grand écran ça fait moche*/
    margin: 0 auto; /*nav centrée*/
}
nav ul {
    display: flex; /* Aligner les li de ul*/
    justify-content: space-between;
    align-items: center;
    
}

nav li {
    text-transform: uppercase;
    padding: 20px 0;
    list-style: none;  /*N'affiche pas les points des listes*/
    margin: 15px;
    cursor: pointer;
    font-size: 0.9rem;
    font-weight:900; /* Ne marche pas, aucun effet*/
    position: relative; /*Dans élément principal. Pr faire l'effet avec le before quand on hover un li. Permet de délimité une zone pour le before*/
}
nav li:nth-child(1) {
    color:rgb(71, 15, 169);
    
}
nav li:first-child:before {
    content:"";
    width: 100%;
    height: 5px;
    position: absolute;
    background: rgb(95, 4 ,170);
    transform: translateY(-20px); /*on veut que le before descende de 20px à la fin de son animation quand on hover sur le li*/
}

nav li:hover:before {
/* Quand on survole le li j'aimerai que le before ait ce comportement: */
    content:"";
    width: 100%;
    height: 5px;
    position: absolute;
    background: rgb(95, 4 ,170);
    transform: translateY(-20px);
/*6 lignes précédentes indique création d'un before à chaque survolement d'un li*/
}

nav li:nth-child(8):before {
    display:none; /*before ne s'affiche pas sur FR|EN*/
}
#language {
    background: rgba(128, 128, 128, 0.25);
    border-radius: 50px;
    padding: 8px 16px; /*(haut-bas et gauche-droite)*/
}
 

/*--------------HEADER----------------*/
.main-header {
/* image arriere-plan , (fixed = elle reste fixe): */
    background: url(./assets/img/bg.jpg) fixed center/cover;
    /* background-size: cover;*/ /*Sert à dire au navigateur que le background (ici une image) doit couvrir entierement le conteneur en étant parfaitement redimentionné. On UTILISE PAS ici */
    color: white;
    padding: 60px;
}

.main-header img {
    margin: 20px;
    padding: 40px;
}
.main-header h1 {
    font-size: 24px; /*Taille du texte*/
    margin: 20px 0 35px; /* Quand 3 valeurs: 2Opx de marge EN HAUT, 0 SUR COTES et 35 EN BAS*/
}

.main-header button {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: white;
    font-weight:bold;
    padding: 15px 30px; /*15 Haut-Bas 30 sur COTES*/
    cursor: pointer;
    /* width: 300px; pas besoin */ 
    background: transparent;
    border: 1px solid;
    transition: 0.4s ease;
}
.main-header button:hover {
        background:rgba(141, 32, 204, 0.712); /*Transition dans élément principal ".main-header button"*/
}

.main-header i {
    transform: translateX(5px); /*Décalage vers la droite du chevron "i" dans le bouton*/
}

/*----------------SECTION 1-------------------*/
.section-un  {
    margin: 0 auto;
 /* text-align: center; on utilise m0 auto; */
   font-weight: bold;   
   font-size: 1.2rem;
   padding: 40px 0;
   max-width: 1100px; /*Comme pr la Nav barre car après c'est laid si ça sétire trop sur grand écran*/
   line-height: 34px; /*espace entre 2 lignes d'un même <p>*/
}

/*----------------SECTION 2-------------------*/
.section-deux {
    background: black; 
}
.section-deux-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    margin: 0 auto; /* pour recentrer car on a mit une max-width, ce qui décale l'élément vers la gauche et une marge se crée à droite quand on dépasse la max-width*/
}

.new {
    color:white; 
    padding: 60px 0;
    text-align: center;
   
}

.row-img {
    margin-bottom: 30px;
}

.new p {
    width: 80%;
    margin: 10px auto 20px; /*10 en haut, auto sur cotés dc centré et 20 en bas*/
}
.new h3 {
    padding: 40px;
}

.new button {
    margin: 30px auto;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: white;
    font-weight:bold;
    padding: 9px 32px;
    cursor: pointer;
    /* width: 300px; Pas besoin */
    background: transparent;
    border: 1px solid;
    transition: O.4s ease; /*Transition se met ds élément principal. 0.4s pour passer de son background noir à violet*/
}

.new button:hover {
    background:rgba(141, 32, 204, 0.712); /*Transition dans élément principal ".new button"*/
}
/*----------------SECTION 3-------------------*/

.section-trois {
    background: #F7F7F7;
    padding: 80px 0 45px;
}

.row-entete {
    display: grid;
    grid-template-columns: 70% 30%;
    max-width: 1100px;
    margin: 0 auto;
}

.row-entete-left {
    line-height: 30px; /*espace le <p> du h2 de 30px de hauteur*/
}

.row-entete-left h2 {
    letter-spacing: 2px;
    text-align: left; /*Aligne le h2 vers la gauche*/
}

.row-entete-left p {
    font-weight: bold;
    text-align: left; /*Aligne le <p> vers la gauche*/
    font-size: 0.9rem;
}

/* .button-container {
 margin: 30px;
}  pas utilisé */

.button-container button {
    /* margin: 60px auto; */
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight:bold;
    padding: 10px 20px;
    cursor: pointer;
    background: transparent;
    border: 1px solid black;
    transition: 0.4s ease;
}

.button-container button:hover {
    background:rgba(141, 32, 204, 0.712); /*Transition dans élément principal ".button-container button"*/
}

/*Les bloc main*/
.row-main-section-trois {
    display: flex;
    justify-content: space-around; /*Pas besoin de align item: center*/
    max-width: 1100px;
    margin: 45px auto;
}

.bloc-main {
       position: relative; /*Le prof veux contenir relativement les boutons dans bloc-main et les mettre en absolute car sinon ils ne s'allignent pas, car le texte <p> est plus ou moins long dans chaque bloc*/
       max-width: 23%;
      
}/* JE ME SUIS ARRETE ICI PR LA CORRECTION*/
 .row-img2 img { /*on s'adresse aux img du container row-im2 du container bloc-main.  */
    width: 100%;
    object-fit: cover; /*Empêche la déformation de l'image en responsive*/
    border-radius: 3px;
    box-shadow: 0px 3px 6px 0px black;
 }

 .bloc-main h4 {
    margin: 15px 0;
    text-align: left;
 }

.bloc-main p {
    margin-bottom: 45px;
    text-align: left;
    font-weight: bold;
    font-size: 0.8rem;
    line-height: 20px;
}

.link { /*Prof à mit les a href dans une class commune "link"*/
    position: absolute; 
    text-align: left;
    bottom: 0;
    letter-spacing: 2px;
}

.link > a {
    font-size: 0.7rem;
    font-weight: bold;
}

.link > a:hover {
    color: rgba(180,180,180,1);
}
.bloc-main i {
    transform: translateX(5px); /* Ajoute un espace de 5px de large entre le ahref et la fleche*/
}

/*----------------SECTION 4-------------------*/
.section-quatre {
    padding: 65px 0 20px;
    max-width: 1100px;  /*margin: 0 auto; pour centrer quand on met une max width*/
    margin: 0 auto;
}
.container-top-section-quatre {
display: flex;
justify-content: space-around;
font-weight: 600;  /*ma police bug malheureusement*/xxx
}

.bloc-sec4 {
    text-align:left;
    width: 23%
    /* obligé de forcer car sinon le texte du bloc 3 prend trop de place */
}

.bloc-sec4 h5 {
    font-size: 1.3rem;
    margin-bottom: 10px;
}

.bloc-sec4 li {
   margin: 15px auto;
   list-style: none;
}

.bloc-sec4 p {
    line-height: 22px;
    margin-bottom: 15px;
}

.bloc-sec4 h6 { /*Tel et adresse mail */
    font-size: 0.8rem;
    margin-bottom: 8px;

}
.logo-réseaux{
    cursor: pointer;
    margin: 10px 0 30px;
    letter-spacing: 8px;
}

h7 {
    margin: 0;
}

.logo-réseaux i {
    transform: translateX(2px);
}
/*------trait gris------*/
.trait-gris {
    height: 1px;
    background: gray;
    width: 80%;
    margin: 20px auto;
}

/*----container-journalistes sous le trait gris----*/
.container-journalistes { 
    padding: 20px 0 15px;
     display: flex;
     align-items: center;
     width: 95%;
     margin: 0 auto;
    
}


.new-journaliste {  /*Container gauche*/
    text-align: left;
    width: 30%;
}

.new-journaliste h2 {
    font-size: 0.9rem;
    margin-bottom: 12px;
}

.new-journaliste p{
    font-size: 0.9rem;
}

.new-journaliste-media-logo {
    display: flex;
    justify-content: space-around;
    width: 80%;
    
}


/* ----------------FOOTER-------------------- */
footer {
    background: rgb(15, 15, 15);
    text-align: center;
    padding: 25px;  /*marge INTERIEURE de 25px;*/
}

footer h2 {
    color: whitesmoke;
    margin: 32px;
}

.essai {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 1100px;
}

/*_-_-_-REMARQUES_-_-_-*/
/*- J'aurai pu faire un unique paramétrage pour les bouttons qui sont tous les mêmes quasiments et modifier les petites diff au fur et à mesure*/